absl-py==0.7.1
astor==0.7.1
Flask>=1.0.2
Flask-Bootstrap>=3.3.7.1
Flask-WTF>=0.14.2
gast>=0.2.2
gevent>=1.4.0
greenlet>=0.4.15
grpcio>=1.19.0
gunicorn>=19.9.0
h5py>=2.9.0
idna>=2.8
itsdangerous>=1.1.0
Jinja2>=2.10.1
Keras>=2.2.4
Keras-Applications>=1.0.7
Keras-Preprocessing>=1.0.9
tensorboard>=1.12.2
tensorflow-estimator>=1.13.0
tensorflow==2.5.0rc0
numpy>=1.16.2
protobuf>=3.7.1
requests>=2.21.0
WTForms>=2.2.1
